{{>header.layouts}}
{{>nav.layouts  }}


<table class="table table-striped container">
  <thead>
    <tr>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Location</th>

        
    </tr>
  </thead>
  <tbody>
      
    <tr>
    
      <td>{{operations.amount}}</td>
      <td>{{operations.date}}</td>
      <td>{{operations.location}}</td>
    </tr>
   
  </tbody>
</table>

{{>footer.layouts}}