{{>header}}
{{>nav}}

<form class="container" action ="/editTodo/{{singletodo.id}}">
  {{!-- <div class="mb-3">
    <label for="id" class="form-label">id</label>
    <input type="text" class="form-control" id="id" name='id'>
   
  </div> --}}
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" value='{{singletodo.title}}'>
   
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <input type="text" class="form-control" id="content" name="content" value='{{singletodo.content}}'>
   
  </div>
 <div class="form-check">             
  <input class="form-check-input" type="checkbox"  id="status" name='status' {{checked}} >
  <label class="form-check-label" for="status">
    Status
  </label>
</div>
<button type="submit" class="btn btn-info"> Update </button>
</form>

{{>footer}}
